@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  display: flex;
  margin: 0;
  font-family: 'Playpen Sans', sans-serif;
  background-color: #121212;
  color: white;
}

.sidebar {
  width: 220px;
  background: #1E1E1E;
  padding: 20px;
  height: 100vh;
}

.sidebar h2 {
  color: #9D00FF;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
  cursor: pointer;
}

.sidebar ul li:hover {
  background: #9D00FF;
  border-radius: 8px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  background: #2a2a2a;
  border-radius: 8px;
  transition: 0.3s;
}

.sidebar ul li a:hover {
  background-color: transparent;
}

.main {
  flex-grow: 1;
  padding: 30px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #FFC300;
}

/* Cards de resumo */
.widgets {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.widget {
  flex: 1;
  min-width: 200px;
  background-color: #1E1E1E;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 10px #9D00FF;
  font-size: 16px;
}

.widget strong {
  font-size: 20px;
  color: #00BFFF;
}

/* Box do gráfico */
.chart-box {
  background-color: #1E1E1E;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px #00BFFF;
}

.chart-box h3 {
  color: #FFC300;
  margin-bottom: 15px;
}
